:root {
    --title-font-family: Arial, Helvetica, sans-serif;
    /* --paragraph-font-family: Georgia, 'Times New Roman', Times, serif; */
    --paragraph-font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
}


h1 {
    font-family: var(--title-font-family);
}

h2 {
    font-family: var(--title-font-family);
}

h3 {
    font-family: var(--title-font-family);
}

p {
    font-family: var(--paragraph-font-family);
}

img {
    width: 100%;
}

svg {
    display: inline-block;
}