.container-xl {
    max-width: 128.0rem;
    margin: 0 auto;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
}

.container-md {
    max-width: 76.8rem;
}

.container-half {
    max-width: 64.0rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.container-lg {
    max-width: 99.2rem;
    margin: 0 auto;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
}

.container-md {
    max-width: 76.8rem;
    margin: 0 auto;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
}


.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.flex-4 {
    flex: 4;
}

.flex-5 {
    flex: 5;
}

.flex-6 {
    flex: 6;
}

.flex-7 {
    flex: 7;
}

.flex-8 {
    flex: 8;
}

.flex-9 {
    flex: 9;
}

.flex-10 {
    flex: 10;
}

.flex-11 {
    flex: 11;
}

.flex-12 {
    flex: 12;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.items-baseline {
    align-items: baseline;
}

.items-end {
    align-items: flex-end;
}

.object-cover {
    object-fit: cover;
}

.gap-96 {
    gap: 9.6rem;
}

.gap-64 {
    gap: 6.4rem;
}

.gap-48 {
    gap: 4.8rem;
}

.gap-24 {
    gap: 2.4rem;
}

.gap-16 {
    gap: 1.6rem;
}

.gap-8 {
    gap: 0.8rem;
}

.py-96 {
    padding-top: 9.6rem;
    padding-bottom: 9.6rem;
}

.py-192 {
    padding-top: 19.2rem;
    padding-bottom: 19.2rem;
}

.py-48 {
    padding-top: 4.8rem;
    padding-bottom: 4.8rem;
}

.pb-96 {
    padding-bottom: 9.6rem;
}

.pb-192 {
    padding-bottom: 19.2rem;
}

.py-24 {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
}

.py-8 {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

.py-4 {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

.p-16 {
    padding: 1.6rem;
}

.px-16 {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}

.pl-24 {
    padding-left: 2.4rem;
}

.text-96 {
    font-size: 9.6rem;
    line-height: 1;
}

.text-64 {
    font-size: 6.4rem;
    line-height: 1;
}

.text-48 {
    font-size: 4.8rem;
    line-height: 1;
}

.text-32 {
    font-size: 3.2rem;
    line-height: 3.8rem;
}

.text-24 {
    font-size: 2.4rem;
    line-height: 3.2rem;
}

.text-18 {
    font-size: 1.8rem;
    line-height: 2.7rem;
}

.text-16 {
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.text-14 {
    font-size: 1.4rem;
    line-height: 2.0rem;
}

.mb-96 {
    margin-bottom: 9.6rem;
}

.mb-48 {
    margin-bottom: 4.8rem;
}

.mb-24 {
    margin-bottom: 2.4rem;
}

.mb-16 {
    margin-bottom: 1.6rem;
}

.mb-8 {
    margin-bottom: 0.8rem;
}

.mb-4 {
    margin-bottom: 0.4rem;
}

.mb-0 {
    margin-bottom: 0;
}

.ml-24 {
    margin-left: 2.4rem;
}

.no-underline {
    text-decoration-line: none;
}

.text-neutral-900 {
    color: #171717;
}

.font-bold {
    font-weight: 700;
}

.font-normal {
    font-weight: 400;
}

.text-center {
    text-align: center;
}


.bg-holy {
    background-color: #ffffff;
}

.text-dark {
    color: #000000;
}

.text-holy {
    color: #ffffff;
}

.bg-neutral-100 {
    background-color: #f5f5f5;
}

.text-neutral-100 {
    color: #f5f5f5;
}

.bg-neutral-900 {
    background-color: #171717;
}

.text-neutral-900 {
    color: #171717;
}

.w-24 {
    width: 2.4rem;
}

.w-48 {
    width: 4.8rem;
}


.uppercase {
    text-transform: uppercase;
}

.text-blue-700 {
    color: #1d4ed8;
}

.object-bottom {
    object-position: bottom;
}

.object-center {
    object-position: center;
}

.rounded-full {
    border-radius: 9999px;
}

.border-1 {
    border-width: 1px;
}

.border-black {
    border-color: rgb(0 0 0);
}

.border-solid {
    border-style: solid;
}

.inline-block {
    display: inline-block;
}

.block {
    display: block;
}

.text-black {
    color: #000000;
}

.text-white {
    color: #ffffff;
}


.bg-dark {
    background-color: #030712;
}


.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.w-75 {
    width: 75%;
}

.bg-black {
    background-color: #000000;
}

.bottom-0 {
    bottom: 0px;
}

.top-0 {
    top: 0px;
}

.top-100 {
    top: 100px;
}

.left-0 {
    left: 0px;
}

.right-0 {
    right: 0px;
}

.mt-auto {
    margin-top: auto;
}

.m-auto {
    margin: auto;
}

.block {
    position: absolute;
    background-color: #000000;
    width: 100px;
    height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.bg-holy {
    background-color: #1d4ed8;
}

.my-192 {
    margin-top: 19.2rem;
    margin-bottom: 19.2rem;
}

.image-bacteria {
    background-image: url("images/bacteria-03.jpeg");
}

.image-virus {
    background-image: url("images/virus-03.jpeg");
}

.image-mold {
    background-image: url("images/mold-04.jpeg");
}

.h-600 {
    height: 60rem;
}

.pt-96 {
    padding-top: 9.6rem;
}