.container {
    max-width: 128.0rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
}

.text-48 {
    font-size: 4.8rem;
    line-height: 1;
}


.text-30 {
    font-size: 3.0rem;
    line-height: 3.6rem;
}


.text-blue-700 {
    color: #1d4ed8;
}


.text-white {
    color: #fff;
}


.ml-8 {
    margin-left: 0.8rem;
}

.ml-4 {
    margin-left: 0.4rem;
}

.ml-16 {
    margin-left: 1.6rem;
}

.mb-16 {
    margin-bottom: 1.6rem;
}

.mb-4 {
    margin-bottom: 0.4rem;
}

.mb-8 {
    margin-bottom: 0.8rem;
}

.mb-24 {
    margin-bottom: 2.4rem;
}

.mb-32 {
    margin-bottom: 3.2rem;
}

.mb-48 {
    margin-bottom: 4.8rem;
}

.mb-96 {
    margin-bottom: 9.6rem;
}

.mt-16 {
    margin-top: 1.6rem;
}

.mt-24 {
    margin-top: 2.4rem;
}

.mt-32 {
    margin-top: 3.2rem;
}

.py-96 {
    padding-top: 9.6rem;
    padding-bottom: 9.6rem;
}

.py-192 {
    padding-top: 19.2rem;
    padding-bottom: 19.2rem;
}


.pt-16 {
    padding-top: 1.6rem;
}

.pt-24 {
    padding-top: 2.4rem;
}

.pt-32 {
    padding-top: 3.2rem;
}

.pb-16 {
    padding-bottom: 1.6rem;
}

.pb-24 {
    padding-bottom: 2.4rem;
}

.pb-32 {
    padding-bottom: 3.2rem;
}

.pb-96 {
    padding-bottom: 9.6rem;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.flex-col {
    flex-direction: column;
}

.justify-end {
    justify-content: end;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.grid {
    display: grid;
}

.grid-2 {
    grid-template-columns: 1fr 1fr;
}

.grid-3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.gap-16 {
    gap: 1.6rem;
}

.gap-24 {
    gap: 2.4rem;
}

.gap-32 {
    gap: 3.2rem;
}

.gap-48 {
    gap: 4.8rem;
}

.gap-64 {
    gap: 6.4rem;
}

.pl-auto {
    padding-left: auto;
}

.pr-auto {
    padding-right: auto;
}

.pr-96 {
    padding-right: 9.6rem;
}

.pl-96 {
    padding-left: 9.6rem;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.object-bottom {
    object-position: bottom;
}

.object-center {
    object-position: center;
}

.text-16 {
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.text-18 {
    font-size: 1.8rem;
    line-height: 2.8rem;
}

.text-20 {
    font-size: 2.0rem;
    line-height: 2.8rem;
}

.text-24 {
    font-size: 2.4rem;
    line-height: 3.2rem;
}

.text-30 {
    font-size: 3.0rem;
    line-height: 3.6rem;
}

.text-36 {
    font-size: 3.6rem;
    line-height: 4.0rem;
}

.text-48 {
    font-size: 4.8rem;
    line-height: 1;
}

.text-60 {
    font-size: 6.0rem;
    line-height: 1;
}

.text-72 {
    font-size: 7.2rem;
    line-height: 1;
}

.text-96 {
    font-size: 9.6rem;
    line-height: 1;
}

.uppercase {
    text-transform: uppercase;
}

.font-thin {
    font-weight: 100;
}

.font-extralight {
    font-weight: 200;
}

.font-light {
    font-weight: 300;
}

.font-normal {
    font-weight: 400;
}

.font-medium {
    font-weight: 500;
}

.font-semibold {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}

.font-extrabold {
    font-weight: 800;
}

.font-black {
    font-weight: 900;
}

.height-full {
    height: 100%;
}

.text-neutral-200 {
    color: #e5e5e5;
}

.bg-neutral-200 {
    background-color: #e5e5e5;
}