<header>
    <div class="logo">
        <a href="/">Ozonogroup</a>
    </div>
    <nav>
        <input type="checkbox" class="toggle-menu">
        <div class="hamburger"></div>
        <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/servizi.html">Servizi</a></li>
            <li><a href="/guide.html">Guide</a></li>
            <li><a href="/missione.html">Missione</a></li>
            <li><a href="/contatti.html">Contatti</a></li>
        </ul>
    </nav>
</header>