<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/util.css">
    <link rel="stylesheet" href="/img.css">
    <title>Ozonogroup | Settori</title>
    [google_tag]
</head>

<body>
    <section class="hero-section img-guide">
        <div class="container-xl h-full">
            [header]
            <div class="hero-main">
                <div class="flex-3">
                    <h1 class="mb-16">Guide sull'Ozono</h1>
                    <p>Se vuoi sapere cos'è l'ozono, come utilizzarlo per ottenere una sanificazione ecologica e come
                        viene applicato in diversi settori, puoi utilizzare una delle guide che trovi quì sotto.</p>
                </div>
                <div class="flex-1"></div>
            </div>
        </div>
    </section>

    [articles]

    <section class="footer-section">
        <div class="container-xl h-full">
            <footer class="flex">
                <span class="text-white">Ozonogroup s.r.l. | Tutti i diritti riservati</span>
            </footer>
        </div>
    </section>

</body>

</html>