/* GENERAL */

.container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 32px;
}

.container-md {
    max-width: 76.8rem;
    padding: 0 32px;
}

.container-lg {
    max-width: 99.2rem;
    margin: 0 auto;
    padding: 0 32px;
}

h1 {
    font-size: 6.4rem;
    line-height: 1;
    font-weight: bold;
}

h2 {
    font-size: 4.0rem;
    line-height: 1;
    font-weight: bold;
    color: #111;
    margin-bottom: 4.8rem;
    /* text-align: center; */
}

h3 {
    font-size: 2.4rem;
    line-height: 1;
    font-weight: bold;
    margin-bottom: 1.6rem;
    color: #111;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 3.2rem 0;
}

.hero-title {
    font-size: 6.4rem;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 3.2rem;

}

.hero-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.hero-main-center {
    max-width: 99.2rem;
    margin: 0 auto;
    text-align: center;

}

.button-secondary {
    display: inline-block;
    font-size: 1.8rem;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #ffffff;
    /* border-radius: 50px; */
    padding: 16px;
    letter-spacing: 1px;
}

.button-primary {
    display: inline-block;
    font-size: 1.8rem;
    text-decoration: none;
    color: #ffffff;
    background-color: #2563eb;
    background-color: #1d4ed8;
    background-color: #1e40af;
    /* background-color: #1e3a8a; */
    /* font-weight: bold; */
    padding: 1.6rem 3.2rem;
}

/* SERVI ------------------------------------------------------------ */

.services-section {
    padding: 19.2rem 0;
}



.hero-image {
    background: linear-gradient(rgba(0, 0, 0, 0),
            rgba(0, 0, 0, var(--opacity))), url('/assets/images/ozono.jpg');
    background-size: cover;
    background-position: center;
}

.ozonoterapia-image {
    background: linear-gradient(rgba(0, 0, 0, 0),
            rgba(0, 0, 0, var(--opacity))), url('/assets/images/ozonoterapia.jpg');
    background-size: cover;
    background-position: center;
    height: 80rem
}